<ion-header>
    <ion-navbar color="themeColor">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Journey Details</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <button class="button" *ngIf="!isStarted" ion-button full color="start" icon-left (click)="showRadio()">
        <ion-icon name="navigate"></ion-icon>
        <p> START</p>
    </button>
    <button class="button" *ngIf="isStarted" ion-button full color="textColorDarkBlack" icon-left (click)="finishJourneyAlert()">
        <ion-icon name="power"></ion-icon>
        <p>FINISH</p>
    </button>
    <ion-grid>
        <ion-card *ngIf="isStarted" class="card-text-alignment">
            <ion-row>
                <ion-col col-6>
                    <ion-card-header>
                        Total
                    </ion-card-header>
                    <ion-card-content class="time">
                        {{totalTime}}
                    </ion-card-content>
                </ion-col>
                <ion-col col-6>
                    <ion-card-header>
                        Remaining
                    </ion-card-header>
                    <ion-card-content class="time">
                        {{countDown | async | formatTime}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>

    <div #map id="map"></div>
    <ion-fab right middle>
        <button ion-fab color="danger" (click)="emergency()">
            <ion-icon name="alert"></ion-icon>
        </button>
    </ion-fab>
</ion-content>