page-home {
    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto', 'sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #map {
        height: 85%;
        border-radius: 1vh;
    }
    .scroll-content {
        background-color: color($colors, customBlue);
        padding: 8px;
    }
    .card-text-alignment {
        text-align: center;
        width: 102.3%;
        margin-left: -1%;
    }
    p {
        font-size: 133%;
        letter-spacing: 5.2px;
        display: inline-block;
        vertical-align: middle;
    }
    [icon-left] ion-icon,
    [icon-start] ion-icon {
        font-size: 2.1em;
        margin-right: 1%;
        display: inline-block;
        vertical-align: middle;
    }
    .card-header-md {
        font-size: 2.6rem;
        font-weight: 500;
        padding: 0px;
    }
    .time {
        font-size: 1.8rem;
    }
    .card-header-md+.card-content-md,
    .card-md .item+.card-content-md {
        padding: 0;
        color: red;
        font-weight: 600;
    }
    .button {
        border-radius: 2vh;
    }
}
