page-settings {
    .settings {
        // setting style
        .card {
            margin-top: 1rem;
            margin-bottom: 2rem;
            overflow: hidden;
        }
    }
    .item-inner {
        box-shadow: none !important;
    }
    .text-input-md {
        text-align: right;
    } // .input-wrapper {
    //     margin-bottom: -4%;
    // }
    .save {
        float: right;
        margin-right: 4%;
        width: 28%;
    }
    .logout {
        width: 95%;
        margin-left: 2.9%;
        border-radius: 2vh;
    }
    .toggle-md.toggle-checked .toggle-icon {
        // background-color: #c381e4;
        background-color: #605467;
    }
    .toggle-md.toggle-checked .toggle-inner {
        // background-color: #8721bb;
        background-color: #0c0c0c;
    }
}
